<!-- home.component.html -->

<div class="home-container">
    <!-- Lado Izquierdo: Formulario de destino y salida -->
    <div class="left-section">
      <h1 class="main-title">Reserva tu viaje fácilmente</h1>
      
      <!-- Formulario de salida y destino -->
      <div class="form">
        <div class="input-group">
          <label for="departure">Lugar de salida:</label>
          <input type="text" id="departure" placeholder="Introduce tu ubicación" />
        </div>
        
        <div class="input-group">
          <label for="destination">Lugar de destino:</label>
          <input type="text" id="destination" placeholder="Introduce el destino" />
        </div>
      </div>
  
      <!-- Descripción y llamada a la acción para conductor -->
      <div class="description">
        <p>¿Te gustaría conducir para nosotros? Únete a nuestra red de conductores y lleva a los pasajeros a sus destinos de manera rápida y segura.</p>
        <button class="sign-up-btn">¡Regístrate como conductor!</button>
      </div>
    </div>
  
    <!-- Lado Derecho: Imagen descriptiva y texto descriptivo -->
    <div class="right-section">
        <div class="description">
        <h2 class="description-title">Viaja de forma rápida y segura</h2>
         <p class="description-text">
            {{mensajes?.explorar}}
        </p>
        </div>
        <img src="/img/gps.jpg" alt="Imagen de viaje" class="ride-image" />
    </div>
  </div>
  