<div class="trip-info-container">
    <!-- Mapa de ubicación del conductor -->
    <div class="map-container">
      <img src={{viaje.imgUrl}} alt="Mapa del conductor" class="map-image" />
    </div>
  
    <!-- Detalles del viaje -->
    <div class="trip-details">
      <h2>Detalles del Viaje</h2>
  
      <div class="info-item">
        <span>Conductor:</span>
        <p>{{viaje.conductor}}</p>
      </div>
  
      <div class="info-item">
        <span>Auto:</span>
        <p>{{viaje.auto}}</p>
      </div>
  
      <div class="info-item">
        <span>Placa:</span>
        <p>{{viaje.placa}}</p>
      </div>
  
      <div class="info-item">
        <span>Tiempo de viaje:</span>
        <p>{{viaje.tiempo_estimado_de_llegada}}</p>
      </div>
  
      <div class="info-item">
        <span>Destino:</span>
        <p>{{viaje.destino}}</p>
      </div>
    </div>
  
    <!-- Opciones de viaje -->
    <div class="trip-actions">
      <button class="cancel-button">Cancelar Viaje</button>
      <button class="contact-button">Contactar Conductor</button>
    </div>
  </div>
  