<nav class="navbar">
    <div class="nav-container">
        <!-- Logo -->
        <a href="/" class="logo">TravelApp</a>
        
        <!-- Menú de navegación -->
        <ul class="nav-links">
            <li><a [routerLink]="['/']">Inicio</a></li>
            <li><a [routerLink]="['/home']">Explorar</a></li>
            <li><a [routerLink]="['/mis-viajes']">Mis Viajes</a></li>
            <li><a [routerLink]="['/info-viaje']">Info Viajes</a></li>
        </ul>
        
        <!-- Botones de Sign In y Sign Up -->
        <div class="auth-buttons">
            <button class="btn sign-in" [routerLink]="['/login']">Sign In</button>
            <button class="btn sign-up" [routerLink]="['/register']">Sign Up</button>
        </div>
    </div>
</nav>
