

<div class="my-trips-container">
    <h1>Mis Viajes</h1>
    
    <!-- Historial de Viajes -->
    <section class="trip-history">
      <h2>Historial de Viajes</h2>
  
      <!-- Tarjetas de Viajes -->
      <div class="trip-card" *ngFor="let viaje of viajes">
        <p><strong>Destino:</strong> {{viaje.destino}}</p>
        <p><strong>Fecha:</strong> {{viaje.fecha}}</p>
        <p><strong>Conductor:</strong> {{viaje.conductor}}</p>
        <p><strong>Calificación:</strong> {{viaje.calificacion}} ⭐</p>
        <button class="trip-details" [routerLink]="['/info-viaje', viaje.id]">Ver Detalles</button>
    </div>
    </section>
  
    <!-- Reservar un Nuevo Viaje -->
    <section class="new-trip">
      <h2>Reservar un Viaje</h2>
      <form>
        <label for="destination">Destino</label>
        <input type="text" id="destination" placeholder="Ingresa el destino" required />
  
        <label for="date">Fecha</label>
        <input type="date" id="date" required />
  
        <button type="submit" class="reserve-button">Reservar Viaje</button>
      </form>
    </section>
  </div>
  